# vim: set ft=sh sw=4 sts=4 :
alias aliases='grep "^\s*alias" $HOME/.aliases'

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Enable aliases to be sudo’ed
alias sudo='sudo '

## SHORTCUTS
alias ass="cd ~/Source/apple"
alias b="bundle "
alias d="cd ~/Dropbox"
alias g="git"
alias t="task"
alias m="mate ."
alias o="open"
alias oo="open ."
alias s="cd ~/Source"
alias v="vagrant"
alias vssh="vagrant ssh"
alias vimq="/usr/local/bin/vim -u NONE"
alias vimd="/usr/local/bin/vim"
alias viml="ITERM_PROFILE=Light /usr/local/bin/vim"
alias mux="tmuxinator"
alias fuck="tmuxinator"
alias timestamp='date +"%Y%m%d%H%M%S"'

less_macro_path=$(locate "macros/less.vim" | head -1)
if [[ -f $less_macro_path ]]; then
    alias vless="vim -u $less_macro_path"
elif [[ -f /usr/share/vim/vim72/macros/less.vim ]]; then
    alias vless="vim -u /usr/share/vim/vim72/macros/less.vim"
else
    alias vless="less -R"
fi
unset less_macro_path

# Git shortcuts
alias gs='git s'
alias gds='git diff --stat'
alias gpom='git push origin master'
alias gfo='git fetch origin'
alias gpo='git push origin'
alias gm='git merge'
alias gc='git commit'
alias gca='git commit -a'
alias ga='git add'
alias sb='git checkout'
alias fixup='git rebase -i HEAD~2'

# personal pass
alias jpass="PASSWORD_STORE_DIR=~/Dropbox/.password-store pass"

## FANCY ls
# use GNU ls if it exists and we're on OS X
command -v gls >/dev/null 2>&1 && alias ls="gls -F --color=auto"
command -v gdircolors >/dev/null 2>&1 && alias dircolors="gdircolors"

alias l="ls -l" # List all files colorized in long format
alias la="ls -Fla" # List all files colorized in long format, including dot files
alias ll="ls -Fl" # List long, but don't show hidden files
alias lsd='ls -Fl | grep "^d"' # List only directories
alias sl="ls" # I don't know why I make this typo so often

# otool -L is ldd on OS X
hash ldd &>/dev/null || alias ldd="otool -L"

## OS X administration and hacks
# Get OS X Software Updates, and update Homebrew, npm, and their installed packages
command -v softwareupdate >/dev/null 2>&1 && alias update='sudo softwareupdate -i -a; brew update; brew upgrade; npm update npm -g; npm update -g'

# IP addresses
if [[ ! -f /etc/redhat-release ]]; then
    alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
fi
alias localip="echo -n 'en0: '; ipconfig getifaddr en0; echo -n 'en1: '; ipconfig getifaddr en1; echo ''"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias routerip="netstat -rn | grep default | tr -s ' ' | cut -d ' ' -f 2"

# Flush Directory Service cache
command -v dscacheutil >/dev/null 2>&1 && alias flush="dscacheutil -flushcache"

# Clean up LaunchServices to remove duplicates in the “Open With” menu
alias lscleanup="/System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -kill -r -domain local -domain system -domain user && killall Finder"

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# ROT13-encode text. Works for decoding, too! ;)
alias rot13='tr a-zA-Z n-za-mN-ZA-M'

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Merge PDF files
# Usage: `mergepdf -o output.pdf input{1,2,3}.pdf`
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

# PlistBuddy alias, because sometimes `defaults` just doesn’t cut it
alias plistbuddy="/usr/libexec/PlistBuddy"

## USEFUL SHENANIGANS
# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"
alias nogrep='grep -v grep'

# Trim new lines and copy to clipboard
alias c="tr -d '\n' | pbcopy"

# Cut on spaces
alias cuts="cut -f ' '"

# Count word frequencies of stdin
alias freqs="awk '{ for (i = 1; i <= NF; i++) freq[\$i]++ } END { for (word in freq) printf \"%d\t%s\n\", freq[word], word }'"

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum" && alias sha256sum="shasum -a 256" && alias sha512sum="shasum -a 512"

# OS X has no `free`, so get it from top
command -v free > /dev/null || alias free="top -l 1 | head -n 10 | grep PhysMem"

# Ring the terminal bell, and put a badge on Terminal.app’s Dock icon
# (useful when executing time-consuming commands)
alias badge="tput bel"

# Reload bash profile
alias reload="source $HOME/.bash_profile"

# Media shortcuts
if command -v ffmpeg > /dev/null; then
    alias flac2mp3='for f in *.flac; do </dev/null ffmpeg -i "$f" -qscale:a 0 "${f/%flac/mp3}"; done'
fi

# GPG shortcuts
if command -v gpg > /dev/null; then
    alias list-recipients="gpg --batch --decrypt --list-only --status-fd 1 2>/dev/null | awk '/^\[GNUPG:\] ENC_TO / { print \$3 }' | \
        while read key; do (gpg --list-keys \$key >/dev/null 2>&1 && gpg --list-keys \$key) || echo -e \"-- unknown key ID: \$key\"; done"
    alias show_recipients="list_recipients"
fi

# Bundler shortcuts
if command -v bundle > /dev/null; then
    alias be="bundle exec"
    alias bs="bundle show"
fi

if command -v rspec > /dev/null; then
    alias rspecv="rspec --require=~/.rspec-formatters/vim_formatter.rb --format VimFormatter --out quickfix.out --format progress || vim '+cg quickfix.out' '+cw' '+setl foldlevel=0 foldmethod=marker foldmarker=#\\ Backtrace,#\\ /Backtrace' '+res 40'"
fi

# Rails shortcuts
if command -v rails > /dev/null; then
    alias ra="echo \"bundle exec'ing rails..\" && bundle exec rails"
    alias rg="echo \"bundle exec'ing rails..\" && bundle exec rails generate"
    alias rc="echo 'Starting console...' && bundle exec rails console"
    alias railsprod="echo 'RAILS_ENV=production' && export RAILS_ENV=production"
    alias railsdev="echo 'RAILS_ENV=development' && export RAILS_ENV=development"
    alias railstest="echo 'RAILS_ENV=test' && export RAILS_ENV=test"
fi

if command -v foreman > /dev/null; then
    alias "serve!"="foreman start -f Procfile.dev"
fi

# Tarsnap shortcuts
if command -v tarsnap > /dev/null; then
    alias backup-secrets='tarsnap -c -f secrets.$(date "+%Y%m%d") ~/Dropbox/Secrets ~/Dropbox/Personal ~/.ssh ~/.gnupg ~/.password-store ~/Dropbox/.password-store ~/Library/Keychains'
fi

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# One of @janmoesen’s ProTip™s
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
    alias "$method"="lwp-request -m '$method'"
done

# Sum a list of integers
alias sum="awk '{s+=\$1} END {print s}'"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"
alias where="hostname"
alias why="echo because..."
alias obscuro='/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend'  # lock screen
alias fixpowerline="/usr/local/bin/reattach-to-user-namespace /bin/sh -c '/usr/local/bin/powerline-daemon -k >/dev/null 2>&1 ; /usr/local/bin/powerline-daemon'"
alias fixpaste="printf '\e[?2004l'"
alias disable-bracketed-paste="printf '\e[?2004l'"

## Quick connections
alias lunaprox='ssh -AD 8080 jenner@luna.jfave.com'
alias luna='ssh -A jenner@luna.jfave.com'
alias radarget='curl -X GET -H "Accept: application/json" -H "Content-Type: application/json" --negotiate -u : '
alias radarpost='curl -X POST -H "Accept: application/json" -H "Content-Type: application/json" --negotiate -u : '
alias editsieve="ssh -tt jenner@luna.jfave.com 'sudo vim /var/mail/vmail/jfave.com/jenner/.dovecot.sieve && sudo sievec /var/mail/vmail/jfave.com/jenner/.dovecot.sieve'"

alias biggestfiles="du -a . | sort -n -r | head -n 20"
alias ducks="du -cks * | sort -rn | head"

