# vim: ft=sh:
# Prefer US English and use UTF-8

export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Make vim the default editor
export EDITOR="vim"
export SVN_EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Set Node's path (in homebrew's lib)
if [[ -d /usr/local/share/npm/lib/node_modules ]]; then
    export NODE_PATH=/usr/local/share/npm/lib/node_modules
fi

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Set gopath
export GOPATH="$HOME/Source/go"
export GRAILS_HOME="/usr/local/opt/grails/libexec"

if [ -z "$DARK_MODE" ] && [ -f "$HOME/.dircolors.ansi-light" ]; then
  export DIRCOLORS_FILE="$HOME/.dircolors.ansi-light"
else
  export DIRCOLORS_FILE="$HOME/.dircolors.256dark"
fi

# Don't use cowsay with ansible
export ANSIBLE_NOCOWS=y

# Setup dircolors
if command -v gdircolors >/dev/null 2>&1; then
    eval $(gdircolors "$DIRCOLORS_FILE")
else
    eval $(dircolors "$DIRCOLORS_FILE")
fi

# rbenv shim
if command -v rbenv >/dev/null 2>&1; then eval "$(rbenv init -)"; fi

# nodenv shim
if command -v nodenv >/dev/null 2>&1; then eval "$(nodenv init -)"; fi
