# Make vim the default editor
export EDITOR="vim"
export SVN_EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Add RVM and /usr/local to PATH
export PATH=/usr/local/bin:/usr/local/sbin:$PATH:/usr/local/share/npm/bin

# Set Node's path (in homebrew's lib)
export NODE_PATH=/usr/local/lib/node_modules

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"