#!/bin/bash

# List all functions
function functions {
    grep --before 1 function.*{ /Users/jenner/.functions
}

# Simple calculator
function calc() {
    local result=""
    result="$(printf "scale=10;$*\n" | bc --mathlib | tr -d '\\\n')"
    #                       └─ default (when `--mathlib` is used) is 20
    #
    if [[ "$result" == *.* ]]; then
        # improve the output for decimal numbers
        printf "$result" |
        sed -e 's/^\./0./'        `# add "0" for cases like ".5"` \
            -e 's/^-\./-0./'      `# add "0" for cases like "-.5"`\
            -e 's/0*$//;s/\.$//'   # remove trailing zeros
    else
        printf "$result"
    fi
    printf "\n"
}

# Looks up a given port number in nmap's services db
command -v nmap > /dev/null && export NMAP_SERVICES_PATH=$(locate nmap-services)
function whatrunson {
    if [[ -f $NMAP_SERVICES_PATH ]]; then
        grep "\s$1/" $NMAP_SERVICES_PATH
    else
        echo "Couldn't find nmap-services at $NMAP_SERVICES_PATH"
    fi
}
alias whatlistenson="whatrunson"

function play2048 {
    perl -e 'my $host = "http://2048.semantics3.com/hi/";my $cmd = "curl --silent -L $host"."start";my $output = `$cmd`;my $session_id = $output;$session_id=~s/.*?ID:\s(\w+).*/$1/si;my %keyMap = ( 'w' => 0, 'd' => 1, 's' => 2, 'a' => 3);print STDERR $output,"\n";while(1) { print STDERR "Input (w - up, a - left, d - right, s - down):\n"; my $userInput =<stdin> ; chomp ($userInput); if(defined($keyMap{$userInput})) { $userInput = $keyMap{$userInput}; } else { print STDERR "Invalid move.. w - up, a - left, d - right, s - down\n"; next; } my $cmd = "curl --silent $host"."state/$session_id/move/$userInput"; my $output = `$cmd`; print STDERR "\n$output\n"; if($output=~/Message:/si) { exit(0); }}'
}

# Password generators
# Generates a random password of $1 bytes
function randompass {
    if [[ $# -eq 1 ]]; then
        ruby -r 'securerandom' -e "puts SecureRandom.base64($1)"
    else
        ruby -r 'securerandom' -e 'puts SecureRandom.base64'
    fi
}

# Picks a random word from the dictionary
function randomword {
    local num=$(($RANDOM * $RANDOM))
    local wordline=$(($num % $(wc -w /usr/share/dict/words | awk '{print $1}')))"p"
    sed -n $wordline /usr/share/dict/words
}

function randomwords {
    echo $(randomword)-$(randomword)-$(randomword)
}

# Creates a random alphanumeric passphrase
function randompassphrase {
    echo $(randomword)-$RANDOM-$(randomword)-$RANDOM-$(randomword)-$RANDOM-$(randomword)
}

# Directory marks
export MARKPATH="$HOME/.marks"

# Jumps to a directory mark, if it exists
function jump { 
    cd -P $MARKPATH/$1* 2>/dev/null || echo "No such mark: $1"
}

# Jumps to a directory mark.
# If multiple marks are given, they are opened in new tmux windows.
function jmp {
    if [[ $# -gt 0 ]]; then
        jump $1
        shift
        while [[ $# -gt 0 ]]; do
            tmux neww -c $MARKPATH/$1*
            shift
        done
    else
        echo "Jump where?"
        marks
    fi
}

# Sets a mark in the current directory
function mark { 
    if [[ $# -eq 1 ]]; then
        mkdir -p "$MARKPATH"; ln -s "$(pwd)" "$MARKPATH/$1"
    elif [[ $# -eq 2 ]]; then
        mkdir -p "$MARKPATH/$1"; ln -s "$(pwd)" "$MARKPATH/$1/$2"
    else
        echo "Mark what?"
    fi
}

# Deletes the given mark
function unmark { 
    rm -iv "$MARKPATH/$1"
}

# Lists all marks
function marks {
    shopt -s nullglob dotglob
    if [[ $# -gt 0 ]]; then
        markfiles=($MARKPATH/$1*)
    else
        markfiles=($MARKPATH/*)
    fi

    if (( ${#markfiles[*]} )); then
        echo
        for file in ${markfiles[@]}; do
            if [[ ! -h $file ]] && [[ -d $file ]]; then
                echo
                echo "$(basename "$file")/"
                for fl in $file/*; do
                    fl=${fl%/}
                    echo -e "  $(basename "$fl")\t->\t$(ls -l "$fl" | cut -d' ' -f 11-)"
                done
                echo
            else
                fl=${file%/}
                echo -e "$(basename "$file")\t->\t$(ls -l "$fl" | cut -d' ' -f 11-)"
            fi
        done
        echo
    else
        echo "No marks set." && return 1
    fi
    shopt -u nullglob dotglob
}

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Go to root of git repository
function gitop() {
    local gwd=$(pwd)
    if [[ -d "$gwd/.git" ]]; then
        return 0
    fi

    while [ "$gwd" != "/" ]; do
        gwd=$(dirname $gwd)
        if [[ -d "$gwd/.git" ]]; then
            cd $gwd
            return 0
        fi
    done

    echo "Not a git repository."
    return 1
}

# Determine size of a file or total size of a directory
function fs() {
    if du -b /dev/null > /dev/null 2>&1; then
        local arg=-sbh
    else
        local arg=-sh
    fi
    if [[ -n "$@" ]]; then
        du $arg -- "$@"
    else
        du $arg .[^.]* *
    fi
}

# Use Git’s colored diff when available
hash git &>/dev/null
if [ $? -eq 0 ]; then
    function diff() {
        git diff --no-index --color-words "$@"
    }
fi

# Create a data URL from a file
function dataurl() {
    local mimeType=$(file -b --mime-type "$1")
    if [[ $mimeType == text/* ]]; then
        mimeType="${mimeType};charset=utf-8"
    fi
    echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')"
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
    local port="${1:-8000}"
    sleep 1 && open "http://localhost:${port}/" &
    # Set the default Content-Type to `text/plain` instead of `application/octet-stream`
    # And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
    python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
}

# Start a PHP server from a directory, optionally specifying the port
# (Requires PHP 5.4.0+.)
function phpserver() {
    local port="${1:-4000}"
    local ip=$(ipconfig getifaddr en1)
    sleep 1 && open "http://${ip}:${port}/" &
    php -S "${ip}:${port}"
}

# Compare original and gzipped file size
function gz() {
    local origsize=$(wc -c < "$1")
    local gzipsize=$(gzip -c "$1" | wc -c)
    local ratio=$(echo "$gzipsize * 100/ $origsize" | bc -l)
    printf "orig: %d bytes\n" "$origsize"
    printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio"
}

# send to moon
function banish() {
    for moonfile in "$@"
    do
        scp "$moonfile" jenner@luna.jfave.com:~/
    done
}

# create a scratch directory
function scratchd() {
    local dir="$HOME/Source/.scratch/`date +%s`"
    export PS1="$PS1_SCRATCH"
    export SCRATCH_ORIGINAL_DIR="`pwd`"
    export SCRATCH_CURRENT_SCRATCH_DIR="$dir"

    mkdir -p "$dir"
    cd "$dir"
    if [[ $# -eq 1 ]]; then
        vim "$1"
    fi
}
alias scratched="scratchd"

# leave a scratch directory
function unscratch() {
    export PS1="$PS1_DEFAULT"

    if [[ "$1" == "-r" ]]; then 
        cd "$SCRATCH_ORIGINAL_DIR"
        rm -rf "$SCRATCH_CURRENT_SCRATCH_DIR"
    else
        export SCRATCH_LAST_SCRATCH_DIR="$(pwd)"
        cd "$SCRATCH_ORIGINAL_DIR"
    fi

    unset SCRATCH_ORIGINAL_DIR
    unset SCRATCH_CURRENT_SCRATCH_DIR
}

# reopens last scratch directory
function rescratch() {
    if [[ ! $SCRATCH_CURRENT_SCRATCH_DIR == "" ]]; then
        export SCRATCH_ORIGINAL_DIR="$(pwd)"
        cd "$SCRATCH_CURRENT_SCRATCH_DIR"
        return 0
    fi

    if [[ $SCRATCH_LAST_SCRATCH_DIR == "" ]]; then
        echo "No last scratch directory."
        return 1
    fi

    if [[ -d $SCRATCH_LAST_SCRATCH_DIR ]]; then
        export SCRATCH_ORIGINAL_DIR="$(pwd)"
        export PS1="$PS1_SCRATCH"
        cd "$SCRATCH_LAST_SCRATCH_DIR"
        export SCRATCH_CURRENT_SCRATCH_DIR="$SCRATCH_LAST_SCRATCH_DIR"
        return 0
    else
        echo "Last scratch directory was deleted."
        return 2
        unset SCRATCH_LAST_SCRATCH_DIR
    fi
}

# change to a directory until cdend
function cddo() {
    export PS1="$PS1_CDBLK"
    export CDDO_LAST_DIRECTORY="$(pwd)"
    cd "$1"
}

function cdend() {
    cd "$CDDO_LAST_DIRECTORY"
    export PS1="$PS1_DEFAULT"
    unset CDDO_LAST_DIRECTORY
}

# usage: gitplz amend commit
function gitplz() {
  q=$(a=("$@");IFS=+;echo "${a[*]}")
  open "http://google.com/search?q=git+$q"
}

# Test if HTTP compression (RFC 2616 + SDCH) is enabled for a given URL.
# Send a fake UA string for sites that sniff it instead of using the Accept-Encoding header. (Looking at you, ajax.googleapis.com!)
function httpcompression() {
    local encoding="$(curl -LIs -H 'User-Agent: Mozilla/5 Gecko' -H 'Accept-Encoding: gzip,deflate,compress,sdch' "$1" | grep '^Content-Encoding:')" && echo "$1 is encoded using ${encoding#* }" || echo "$1 is not using any encoding"
}

# Gzip-enabled `curl`
function gurl() {
    curl -sH "Accept-Encoding: gzip" "$@" | gunzip
}

# Syntax-highlight JSON strings or files
# Usage: `json '{"foo":42}'` or `echo '{"foo":42}' | json`
function json() {
    if [ -t 0 ]; then # argument
        python -mjson.tool <<< "$*" | pygmentize -l javascript
    else # pipe
        python -mjson.tool | pygmentize -l javascript
    fi
}

# All the dig info
function digga() {
    dig +nocmd "$1" any +multiline +noall +answer
}

# Escape UTF-8 characters into their 3-byte format
function escape() {
    printf "\\\x%s" $(printf "$@" | xxd -p -c1 -u)
    # print a newline unless we’re piping the output to another program
    if [ -t 1 ]; then
        echo # newline
    fi
}

# Decode \x{ABCD}-style Unicode escape sequences
function unidecode() {
    perl -e "binmode(STDOUT, ':utf8'); print \"$@\""
    # print a newline unless we’re piping the output to another program
    if [ -t 1 ]; then
        echo # newline
    fi
}

# Get a character’s Unicode code point
function codepoint() {
    perl -e "use utf8; print sprintf('U+%04X', ord(\"$@\"))"
    # print a newline unless we’re piping the output to another program
    if [ -t 1 ]; then
        echo # newline
    fi
}

# Show all the names (CNs and SANs) listed in the SSL certificate
# for a given domain
function getcertnames() {
    if [ -z "${1}" ]; then
        echo "ERROR: No domain specified."
        return 1
    fi

    local domain="${1}"
    echo "Testing ${domain}…"
    echo # newline

    local tmp=$(echo -e "GET / HTTP/1.0\nEOT" \
        | openssl s_client -connect "${domain}:443" 2>&1);

    if [[ "${tmp}" = *"-----BEGIN CERTIFICATE-----"* ]]; then
        local certText=$(echo "${tmp}" \
            | openssl x509 -text -certopt "no_header, no_serial, no_version, \
            no_signame, no_validity, no_issuer, no_pubkey, no_sigdump, no_aux");
            echo "Common Name:"
            echo # newline
            echo "${certText}" | grep "Subject:" | sed -e "s/^.*CN=//";
            echo # newline
            echo "Subject Alternative Name(s):"
            echo # newline
            echo "${certText}" | grep -A 1 "Subject Alternative Name:" \
                | sed -e "2s/DNS://g" -e "s/ //g" | tr "," "\n" | tail -n +2
            return 0
    else
        echo "ERROR: Certificate not found.";
        return 1
    fi
}

# Add note to Notes.app (OS X 10.8)
# Usage: `note 'foo'` or `echo 'foo' | note`
function note() {
    local text
    if [ -t 0 ]; then # argument
        text="$1"
    else # pipe
        text=$(cat)
    fi
    body=$(echo "$text" | sed -E 's|$|<br>|g')
    osascript >/dev/null <<EOF
tell application "Notes"
    tell account "iCloud"
        tell folder "Notes"
            make new note with properties {name:"$text", body:"$body"}
        end tell
    end tell
end tell
EOF
}

# Add reminder to Reminders.app (OS X 10.8)
# Usage: `remind 'foo'` or `echo 'foo' | remind`
function remind() {
    local text
    if [ -t 0 ]; then
        text="$1" # argument
    else
        text=$(cat) # pipe
    fi
    osascript >/dev/null <<EOF
tell application "Reminders"
    tell the default list
        make new reminder with properties {name:"$text"}
    end tell
end tell
EOF
}

# Restarts puppet on the given server
function bouncepup() {
    echo "Bouncing puppet on $1"
    ssh -At "$1" "sudo service puppet restart; sudo tail -f /var/log/messages"
}

# Manually remove a downloaded app or file from the quarantine
function unquarantine() {
    for attribute in com.apple.metadata:kMDItemDownloadedDate com.apple.metadata:kMDItemWhereFroms com.apple.quarantine; do
        xattr -r -d "$attribute" "$@"
    done
}

# Print the HTTP response time for the given URI
function responsetime() {
    curl -w '\nLookup time:\t%{time_namelookup}\nConnect time:\t%{time_connect}\nPreXfer time:\t%{time_pretransfer}\nStartXfer time:\t%{time_starttransfer}\n\nTotal time:\t%{time_total}\n' -o /dev/null -s $1
}

# Attaches the given session if it exists, otherwise creates it
function tmux_create_or_attach() {
    if tmux list-sessions | grep "$1"; then
        tmux attach -t "$1"
    else
        tmux new -s "$1"
    fi
}

# Quick tmux session switch
function sesh() {
    if [[ $# -gt 0 ]]; then
        case "$1" in
            new)
                tmux new -s "$2"
                ;;
            *)
                if tmux list-sessions | grep "attached"; then
                    tmux switch -t "$1"
                else
                    tmux attach -t "$1"
                fi
                ;;
        esac
    else
        (tmux list-sessions &>/dev/null && tmux list-sessions) || echo "No active sessions."
    fi
}

# fuck this
function fuck() {
    sesh new $1
}

# Convert video to gif
# Requires ffmpeg and imagemagick
function gif-ify() {
  if [[ -n "$1" && -n "$2" ]]; then
    ffmpeg -i $1 -pix_fmt rgb24 temp.gif
    convert -layers Optimize temp.gif $2
    rm temp.gif
  else
    echo "proper usage: gif-ify <input_movie.mov> <output_file.gif>. You DO need to include extensions."
  fi
}

# Search for something in Dash.app
function dash() {
    if [[ $# -lt 2 ]]; then
        echo "Usage: dash <docs> <query>"
        return 1
    fi

    local docs=$1
    shift
    open "dash://${docs}:$1"
}
