#!/bin/bash

# List all functions
function functions {
    grep --before 1 function.*{ /Users/jenner/.functions
}

function qq {
  if [ $# -gt 0 ]; then
    find . -ipath "*$1*" | selecta
  else
    find . -type f \
      -and -not -path '*.git*' \
      -and -not -name '*.class' \
      -and -not -name '*.pyc' \
      -and -not -path '*tmp*' \
      -and -not -path '*cache*' \
      -and -not -path '*node_modules*' \
      -and -not -path '*.ropeproject*' \
      -prune | selecta
  fi
}


function whereami {
  curl --silent https://freegeoip.app/csv/ | awk -F, 'BEGIN { OFS="," }; { print $9, $10 }'
}

function sunrise-sunset {
  local day=$(date "+%Y-%m-%d")
  local cache_path="${HOME}/.solar-schedule/${day}"

  if [[ -e "$cache_path" ]]; then
    cat "$cache_path"
  else
    IFS=, read lat long < <(whereami)
    curl --silent "https://api.sunrise-sunset.org/json?lat=$lat&lng=$long&date=$day&formatted=0" | jq -r '.results | "\(.sunrise),\(.sunset)"' | tee "$cache_path"
  fi
}

function is-daytime {
  sunrise-sunset | ruby -r date -e 'daytime = Range.new(*STDIN.read.split(",").map {|d| DateTime.parse(d).to_time }); exit 1 unless daytime.include?(Time.now)'
}

function vim {
  if is-daytime; then
    viml "$@"
  else
    vimd "$@"
  fi
}

function vq {
  local file
  if [ $# -gt 0 ]; then
    file=$(qq $1)
  else
    file=$(qq)
  fi

  history -s "vim $file"
  vim $file
}

function cdq {
  local base
  if [ $# -gt 0 ]; then
    base=$1
  else
    base=$(pwd)
  fi

  cd $(find "$base" -type d -and -not -name ".*" -and -not -path "*.git*" -maxdepth 4 | selecta)
}

function jpq {
  local name
  name=$(find ~/Dropbox/.password-store -type f -and -not -path '*.git*' -and -not -name '.gpg-id' | sed -e 's/\/Users\/jenner\/Dropbox\/.password-store\///' | selecta)
  path=$(dirname $name)
  name=${name##*/}
  jpass "$path/${name%%.*}"
}

function hq {
  local cmd=$(history | tail -500 | cut -d ' ' -f 5- | sort | uniq | selecta)
  history -s "$cmd"
  "$cmd"
}

# Print return value
alias returns="?"
function ? {
  local val=$?
  if [ $# -gt 0 ]; then
    "$@"
    val=$?
  fi

  echo "returned $val"
}

# DESCRIPTION:
#   * h highlights with color specified keywords when you invoke it via pipe
#   * h is just a tiny wrapper around the powerful 'ack' (or 'ack-grep'). you need 'ack' installed to use h. ack website: http://beyondgrep.com/
# INSTALL:
#   * put something like this in your .bashrc:
#     . /path/to/h.sh
#   * or just copy and paste the function in your .bashrc
# TEST ME:
#   * try to invoke:
#     echo "abcdefghijklmnopqrstuvxywz" | h   a b c d e f g h i j k l
# CONFIGURATION:
#   * you can alter the color and style of the highlighted tokens setting values to these 2 environment values following "Perl's Term::ANSIColor" supported syntax
#   * ex.
#     export H_COLORS_FG="bold black on_rgb520","bold red on_rgb025"
#     export H_COLORS_BG="underline bold rgb520","underline bold rgb025"
#     echo abcdefghi | h   a b c d
# GITHUB
#   * https://github.com/paoloantinori/hhighlighter
h() {

    _usage() {
        echo "usage: YOUR_COMMAND | h [-idn] args...
    -i : ignore case
    -d : disable regexp
    -n : invert colors"
    }

    local _OPTS

    # detect pipe or tty
    if test -t 0; then
        _usage
        return
    fi

    # manage flags
    while getopts ":idnQ" opt; do
        case $opt in
            i) _OPTS+=" -i " ;;
            d)  _OPTS+=" -Q " ;;
            n) n_flag=true ;;
            Q)  _OPTS+=" -Q " ;;
                # let's keep hidden compatibility with -Q for original ack users
            \?) _usage
                return ;;
        esac
    done

    shift $(($OPTIND - 1))

    # set zsh compatibility
    [[ -n $ZSH_VERSION ]] && setopt localoptions && setopt ksharrays && setopt ignorebraces

    local _i=0

    if [[ -n $H_COLORS_FG ]]; then
        local _CSV="$H_COLORS_FG"
        local OLD_IFS="$IFS"
        IFS=','
        local _COLORS_FG=()
        for entry in $_CSV; do
          _COLORS_FG=("${_COLORS_FG[@]}" "$entry")
        done
        IFS="$OLD_IFS"
    else
        _COLORS_FG=(
                "underline bold red" \
                "underline bold green" \
                "underline bold yellow" \
                "underline bold blue" \
                "underline bold magenta" \
                "underline bold cyan"
                )
    fi

    if [[ -n $H_COLORS_BG ]]; then
        local _CSV="$H_COLORS_BG"
        local OLD_IFS="$IFS"
        IFS=','
        local _COLORS_BG=()
        for entry in $_CSV; do
          _COLORS_BG=("${_COLORS_BG[@]}" "$entry")
        done
        IFS="$OLD_IFS"
    else
        _COLORS_BG=(
                "bold on_red" \
                "bold on_green" \
                "bold black on_yellow" \
                "bold on_blue" \
                "bold on_magenta" \
                "bold on_cyan" \
                "bold black on_white"
                )
    fi

    if [ -z $n_flag ]; then
        #inverted-colors-last scheme
        _COLORS=("${_COLORS_FG[@]}" "${_COLORS_BG[@]}")
    else
        #inverted-colors-first scheme
        _COLORS=("${_COLORS_BG[@]}" "${_COLORS_FG[@]}")
    fi

    if [ "$#" -gt ${#_COLORS[@]} ]; then
        echo "You have passed to hhighlighter more keyords to search than the number of configured colors.
Check the content of your H_COLORS_FG and H_COLORS_BG environment variables or unset them to use default 12 defined colors."
        return -1
    fi


    local ACK=ack
    if ! which $ACK >/dev/null 2>&1; then
        ACK=ack-grep
        if ! which $ACK >/dev/null 2>&1; then
            echo "Could not find ack or ack-grep"
            return -1
        fi
    fi

    # build the filtering command
    for keyword in "$@"
    do
        local _COMMAND=$_COMMAND"$ACK $_OPTS --noenv --flush --passthru --color --color-match=\"${_COLORS[$_i]}\" '$keyword' |"
        _i=$_i+1
    done
    #trim ending pipe
    _COMMAND=${_COMMAND%?}
    #echo "$_COMMAND"
    cat - | eval $_COMMAND

}

j() {
    if [ $# -eq 0 ]; then
      jobs
    else
      jmp $@
    fi
  }

# Simple calculator
function calc() {
    local result=""
    result="$(printf "scale=10;$*\n" | bc --mathlib | tr -d '\\\n')"
    #                       └─ default (when `--mathlib` is used) is 20
    #
    if [[ "$result" == *.* ]]; then
        # improve the output for decimal numbers
        printf "$result" |
        sed -e 's/^\./0./'        # add "0" for cases like ".5"` \
            -e 's/^-\./-0./'      # add "0" for cases like "-.5"`\
            -e 's/0*$//;s/\.$//'   # remove trailing zeros
    else
        printf "$result"
    fi
    printf "\n"
}

# Looks up a given port number in nmap's services db
alias whatlistenson="whatrunson"
function whatrunson {
    grep "\s$1/" /etc/services
}

# if [ -z $bored ]; then
function play2048 {
    perl -e 'my $host = "http://2048.semantics3.com/hi/";my $cmd = "curl --silent -L $host"."start";my $output = `$cmd`;my $session_id = $output;$session_id=~s/.*?ID:\s(\w+).*/$1/si;my %keyMap = ( 'w' => 0, 'd' => 1, 's' => 2, 'a' => 3);print STDERR $output,"\n";while(1) { print STDERR "Input (w - up, a - left, d - right, s - down):\n"; my $userInput =<stdin> ; chomp ($userInput); if(defined($keyMap{$userInput})) { $userInput = $keyMap{$userInput}; } else { print STDERR "Invalid move.. w - up, a - left, d - right, s - down\n"; next; } my $cmd = "curl --silent $host"."state/$session_id/move/$userInput"; my $output = `$cmd`; print STDERR "\n$output\n"; if($output=~/Message:/si) { exit(0); }}'
}

# Password generators
# Generates a random password of $1 bytes
function randompass {
    if [[ $# -eq 1 ]]; then
        ruby -r 'securerandom' -e "puts SecureRandom.base64($1)"
    else
        ruby -r 'securerandom' -e 'puts SecureRandom.base64'
    fi
}

# Picks a random word from the dictionary
export RANDOMWORD_DICT_SIZE=$([ -f /usr/share/dict/words ] && wc -w /usr/share/dict/words | awk '{print $1}')
function randomword {
  if [ -z "$RANDOMWORD_DICT_SIZE" ]; then
    echo "unknown dictionary size"
    export RANDOMWORD_DICT_SIZE=$(wc -w /usr/share/dict/words | awk '{print $1}')
  fi
  local num=$((RANDOM * RANDOM))
  local wordline="$((num % RANDOMWORD_DICT_SIZE))p"
  sed -n $wordline /usr/share/dict/words
}

function randomwords {
  local word=$(randomword)
  local count=$1
  local sep=$2
  [ -z "$sep" ] && sep=" "
  count=$((count-1))
  if [ $count -gt 0 ]; then
    for _ in $(seq $count); do
      word="${word}${sep}$(randomword)"
    done
  fi

  echo "$word"
}

# Picks a random word from the dictionary
export RANDOMLYRIC_LINE_COUNT=$([ -f /usr/share/dict/lyrics ] && wc -l /usr/share/dict/lyrics | awk '{print $1}')
function randomlyric {
  if [ -z "$RANDOMLYRIC_LINE_COUNT" ]; then
    echo "unknown lyric database size"
    export RANDOMLYRIC_LINE_COUNT=$(wc -l /usr/share/dict/lyrics | awk '{print $1}')
  fi
  local num=$((RANDOM * RANDOM))
  local wordline=$((num % RANDOMLYRIC_LINE_COUNT))
  [ $wordline -eq 0 ] && wordline=1
  sed -n ${wordline}p /usr/share/dict/lyrics
}

function randomwords {
  local word=$(randomword)
  local count=$1
  local sep=$2
  [ -z "$sep" ] && sep=" "
  count=$((count-1))
  if [ $count -gt 0 ]; then
    for _ in $(seq $count); do
      word="${word}${sep}$(randomword)"
    done
  fi

  echo "$word"
}

# Creates a random alphanumeric passphrase
function randompassphrase {
    echo "$(randomword)-$RANDOM-$(randomword)-$RANDOM-$(randomword)-$RANDOM-$(randomword)"
}

# Directory marks
export MARKPATH="$HOME/.marks"

# Jumps to a directory mark, if it exists
function jump {
    cd -P $MARKPATH/$1* 2>/dev/null || echo "No such mark: $1"
}

# Jumps to a directory mark.
# If multiple marks are given, they are opened in new tmux windows.
function jmp {
    if [[ $# -gt 0 ]]; then
        jump "$1"
        shift
        while [[ $# -gt 0 ]]; do
            tmux neww -c $MARKPATH/$1*
            shift
        done
    else
        echo "Jump where?"
        marks
    fi
}

# Sets a mark in the current directory
function mark {
    if [[ $# -eq 1 ]]; then
        mkdir -p "$MARKPATH"; ln -s "$(pwd)" "$MARKPATH/$1"
    elif [[ $# -eq 2 ]]; then
        mkdir -p "$MARKPATH/$1"; ln -s "$(pwd)" "$MARKPATH/$1/$2"
    else
        echo "Mark what?"
    fi
}

# Deletes the given mark
function unmark {
    [ ! $# -eq 1 ] && echo "Usage: unmark <mark>" && return 1
    rm -iv "$MARKPATH/$1"
}

# Lists all marks
function marks {
    shopt -s nullglob dotglob
    if [[ $# -gt 0 ]]; then
        markfiles=($MARKPATH/$1*)
    else
        markfiles=($MARKPATH/*)
    fi

    if (( ${#markfiles[*]} )); then
        echo
        for file in ${markfiles[@]}; do

            if [[ ! -h $file ]] && [[ -d $file ]]; then
                echo
                echo "$(basename "$file")/"
                for fl in $file/*; do
                    fl=${fl%/}
                    name=$(basename "$fl")

                    if [ ${#name} -gt 6 ]; then
                      indent='\t'
                    else
                      indent='\t\t'
                    fi

                    echo -e "  $name$indent->\t$(ls -l "$fl" | cut -d' ' -f 11-)"
                done
                echo
            else
                fl=${file%/}
                name=$(basename "$fl")

                if [ ${#name} -gt 7 ]; then
                  indent='\t'
                else
                  indent='\t\t'
                fi

                echo -e "$name$indent->\t$(ls -l "$fl" | cut -d' ' -f 11-)"
            fi
        done
        echo
    else
        echo "No marks set." && return 1
    fi
    shopt -u nullglob dotglob
}

# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$@"
}

# Go to root of git repository
function gitop() {
    local gwd=$(pwd)
    if [[ -d "$gwd/.git" ]]; then
        return 0
    fi

    while [ "$gwd" != "/" ]; do
        gwd=$(dirname $gwd)
        if [[ -d "$gwd/.git" ]]; then
            cd $gwd
            return 0
        fi
    done

    echo "Not a git repository."
    return 1
}

# Determine size of a file or total size of a directory
function fs() {
    if du -b /dev/null > /dev/null 2>&1; then
        local arg=-sbh
    else
        local arg=-sh
    fi
    if [[ -n "$@" ]]; then
        du $arg -- "$@"
    else
        du $arg .[^.]* *
    fi
}

# Use Git’s colored diff when available
hash git &>/dev/null
if [ $? -eq 0 ]; then
    function diff() {
        git diff --no-index --color-words "$@"
    }
fi

# Create a data URL from a file
function dataurl() {
    local mimeType=$(file -b --mime-type "$1")
    if [[ $mimeType == text/* ]]; then
        mimeType="${mimeType};charset=utf-8"
    fi
    echo "data:${mimeType};base64,$(openssl base64 -in "$1" | tr -d '\n')"
}

# Start an HTTP server from a directory, optionally specifying the port
function server() {
    local port="${1:-8000}"
    sleep 1 && open "http://localhost:${port}/" &
    # Set the default Content-Type to `text/plain` instead of `application/octet-stream`
    # And serve everything as UTF-8 (although not technically correct, this doesn’t break anything for binary files)
    python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
}

# Compare original and gzipped file size
function gz() {
    local origsize=$(wc -c < "$1")
    local gzipsize=$(gzip -c "$1" | wc -c)
    local ratio=$(echo "$gzipsize * 100/ $origsize" | bc -l)
    printf "orig: %d bytes\n" "$origsize"
    printf "gzip: %d bytes (%2.2f%%)\n" "$gzipsize" "$ratio"
}

# send to moon
function banish {
    for moonfile in "$@"
    do
        scp "$moonfile" jenner@luna.jfave.com:~/
    done
}

# create a scratch directory
function scratchd {
    local dir="$HOME/Source/.scratch/`date +%s`"
    export PS1="$PS1_SCRATCH"
    export SCRATCH_ORIGINAL_DIR="`pwd`"
    export SCRATCH_CURRENT_SCRATCH_DIR="$dir"

    mkdir -p "$dir"
    cd "$dir"
    if [[ $# -eq 1 ]]; then
        vim "$1"
    fi
}
alias scratched="scratchd"

# leave a scratch directory
function unscratch {
  if [ $# -lt 2 ]; then
    export PS1="$PS1_DEFAULT"
    if [[ "$1" == "-r" ]]; then
      cd "$SCRATCH_ORIGINAL_DIR"
      rm -rf "$SCRATCH_CURRENT_SCRATCH_DIR"
    else
      export SCRATCH_LAST_SCRATCH_DIR="$(pwd)"
      cd "$SCRATCH_ORIGINAL_DIR"
    fi

    unset SCRATCH_ORIGINAL_DIR
    unset SCRATCH_CURRENT_SCRATCH_DIR
  elif [ $# -eq 2 ]; then
    echo "removing $2..."
    rm -rv "$HOME/Source/.scratch/$2"
  fi
}

# reopens last scratch directory
function rescratch {
    if [[ ! $SCRATCH_CURRENT_SCRATCH_DIR == "" ]]; then
        export SCRATCH_ORIGINAL_DIR="$(pwd)"
        cd "$SCRATCH_CURRENT_SCRATCH_DIR"
        return 0
    fi

    if [[ $SCRATCH_LAST_SCRATCH_DIR == "" ]]; then
        echo "No last scratch directory."
        return 1
    fi

    if [[ -d $SCRATCH_LAST_SCRATCH_DIR ]]; then
        export SCRATCH_ORIGINAL_DIR="$(pwd)"
        export PS1="$PS1_SCRATCH"
        cd "$SCRATCH_LAST_SCRATCH_DIR"
        export SCRATCH_CURRENT_SCRATCH_DIR="$SCRATCH_LAST_SCRATCH_DIR"
        return 0
    else
        echo "Last scratch directory was deleted."
        return 2
        unset SCRATCH_LAST_SCRATCH_DIR
    fi
}

# usage: gitplz amend commit
function gitplz() {
  q=$(a=("$@");IFS=+;echo "${a[*]}")
  open "http://google.com/search?q=git+$q"
}

# Test if HTTP compression (RFC 2616 + SDCH) is enabled for a given URL.
# Send a fake UA string for sites that sniff it instead of using the Accept-Encoding header. (Looking at you, ajax.googleapis.com!)
function httpcompression() {
    local encoding="$(curl -LIs -H 'User-Agent: Mozilla/5 Gecko' -H 'Accept-Encoding: gzip,deflate,compress,sdch' "$1" | grep '^Content-Encoding:')" && echo "$1 is encoded using ${encoding#* }" || echo "$1 is not using any encoding"
}

# Gzip-enabled `curl`
function gurl() {
    curl -sH "Accept-Encoding: gzip" "$@" | gunzip
}

# Syntax-highlight JSON strings or files
# Usage: `json '{"foo":42}'` or `echo '{"foo":42}' | json`
function json() {
    if [ -t 0 ]; then # argument
        python -mjson.tool <<< "$*" | pygmentize -l javascript
    else # pipe
        python -mjson.tool | pygmentize -l javascript
    fi
}

# All the dig info
function digga() {
    dig +nocmd "$1" any +multiline +noall +answer
}

# Escape UTF-8 characters into their 3-byte format
function escape() {
    printf "\\\x%s" $(printf "$@" | xxd -p -c1 -u)
    # print a newline unless we’re piping the output to another program
    if [ -t 1 ]; then
        echo # newline
    fi
}

# Decode \x{ABCD}-style Unicode escape sequences
function unidecode() {
    perl -e "binmode(STDOUT, ':utf8'); print \"$@\""
    # print a newline unless we’re piping the output to another program
    if [ -t 1 ]; then
        echo # newline
    fi
}

# Get a character’s Unicode code point
function codepoint() {
    perl -e "use utf8; print sprintf('U+%04X', ord(\"$@\"))"
    # print a newline unless we’re piping the output to another program
    if [ -t 1 ]; then
        echo # newline
    fi
}

# Show all the names (CNs and SANs) listed in the SSL certificate
# for a given domain
function getcertnames() {
    if [ -z "${1}" ]; then
        echo "ERROR: No domain specified."
        return 1
    fi

    local domain="${1}"
    echo "Testing ${domain}…"
    echo # newline

    local tmp=$(echo -e "GET / HTTP/1.0\nEOT" \
        | openssl s_client -connect "${domain}:443" 2>&1);

    if [[ "${tmp}" = *"-----BEGIN CERTIFICATE-----"* ]]; then
        local certText=$(echo "${tmp}" \
            | openssl x509 -text -certopt "no_header, no_serial, no_version, \
            no_signame, no_validity, no_issuer, no_pubkey, no_sigdump, no_aux");
            echo "Common Name:"
            echo # newline
            echo "${certText}" | grep "Subject:" | sed -e "s/^.*CN=//";
            echo # newline
            echo "Subject Alternative Name(s):"
            echo # newline
            echo "${certText}" | grep -A 1 "Subject Alternative Name:" \
                | sed -e "2s/DNS://g" -e "s/ //g" | tr "," "\n" | tail -n +2
            return 0
    else
        echo "ERROR: Certificate not found.";
        return 1
    fi
}

# Add note to Notes.app (OS X 10.8)
# Usage: `note 'foo'` or `echo 'foo' | note`
function note() {
    local text
    if [ -t 0 ]; then # argument
        text="$1"
    else # pipe
        text=$(cat)
    fi
    body=$(echo "$text" | sed -E 's|$|<br>|g')
    osascript >/dev/null <<EOF
tell application "Notes"
    tell account "iCloud"
        tell folder "Notes"
            make new note with properties {name:"$text", body:"$body"}
        end tell
    end tell
end tell
EOF
}

# Add reminder to Reminders.app (OS X 10.8)
# Usage: `remind 'foo'` or `echo 'foo' | remind`
function remind() {
    local text
    if [ -t 0 ]; then
        text="$1" # argument
    else
        text=$(cat) # pipe
    fi
    osascript >/dev/null <<EOF
tell application "Reminders"
    tell the default list
        make new reminder with properties {name:"$text"}
    end tell
end tell
EOF
}

# Manually remove a downloaded app or file from the quarantine
function unquarantine() {
    for attribute in com.apple.metadata:kMDItemDownloadedDate com.apple.metadata:kMDItemWhereFroms com.apple.quarantine; do
        xattr -r -d "$attribute" "$@"
    done
}

# Print the HTTP response time for the given URI
function responsetime() {
    curl -w '\nLookup time:\t%{time_namelookup}\nConnect time:\t%{time_connect}\nPreXfer time:\t%{time_pretransfer}\nStartXfer time:\t%{time_starttransfer}\n\nTotal time:\t%{time_total}\n' -o /dev/null -s $1
}

# Attaches the given session if it exists, otherwise creates it
function tmux_create_or_attach() {
    if tmux list-sessions | grep "$1"; then
        tmux attach -t "$1"
    else
        tmux new -s "$1"
    fi
}

# Quick tmux session switch
function sesh() {
  if [[ $# -gt 0 ]]; then
    case "$1" in
    new)
        tmux new -s "$2"
      ;;
    *)
        if tmux list-sessions | grep "attached"; then
          tmux switch -t "$1"
        else
          tmux attach -t "$1"
        fi
      ;;
    esac
  else
    (tmux list-sessions &>/dev/null && tmux list-sessions) || echo "No active sessions."
  fi
}

# Trim a video clip with ffmpeg
# Usage: trimclip <inputfile> <start_time> <duration> <outputfile>
function trimclip {
  if [ ! $# -eq 4 ]; then
    echo "Usage: trimclip <inputfile> <start_time> <duration> <outputfile>"
    echo "Example: trimclip input.avi 00:04:20 00:00:05 output.avi"
  else
    ffmpeg -i $1 -vcodec copy -acodec copy -ss $2 -t $3 $4
  fi
}

# Convert video to gif
# Requires ffmpeg and imagemagick
function gif-ify() {
  if [[ -n "$1" && -n "$2" ]]; then
    ffmpeg -i $1 -pix_fmt rgb24 temp.gif
    convert -layers Optimize temp.gif $2
    rm temp.gif
  else
    echo "proper usage: gif-ify <input_movie.mov> <output_file.gif>. You DO need to include extensions."
  fi
}

# Search for something in Dash.app
function dash() {
    if [[ $# -lt 2 ]]; then
        echo "Usage: dash <docs> <query>"
        return 1
    fi

    local docs=$1
    shift
    open "dash://${docs}:$1"
}

# Look up an RFC number
function rfc {
  rfc=$(printf '%04d' $1)
  curl "http://www.ietf.org/rfc/rfc${rfc}.txt" | less
}

# Return the name of the current git repo
function reponame {
  basename $(git rev-parse --show-toplevel)
}

# schneems/explain_shell
function explain {
  # base url with first command already injected
  # $ explain tar
  #   => http://explainshel.com/explain/tar?args=
  url="http://explainshell.com/explain/$1?args="

  # removes $1 (tar) from arguments ($@)
  shift;

  # iterates over remaining args and adds builds the rest of the url
  for i in "$@"; do
    url=$url"$i""+"
  done

  # opens url in browser
  open $url
}

# Send a request to the Orchard API with auth headers
function orchardreq {
  curl -sS -H "X-API-EMAIL: $(orchard_email)" -H "X-API-Token: $(orchard_token)" "$@"
}

function orchard_email {
  git config --get remote.orchard.email
}

function orchard_token {
  git config --get remote.orchard.token
}

function orchard_app_availability_zones {
  local appid=$1
  orchardreq "https://orchard.apple.com/api/v1/applications/${appid}/application_availability_zones"
}

function orchard_instance_types {
  local appid=$1 az=$2
  orchardreq "https://orchard.apple.com/api/v1/applications/${appid}/application_availability_zones/${az}/instance_types"
}

function orchard_find_instance {
  local appid=$1 az=$2 name=$3
  orchard_instance_types $appid $az | jq ".[] | select (.name == \"$name\")"
}

function deploy! {
  local env
  if [ -z "$1" ]; then
    env='test'
  else
    env="$1"
  fi

  [ "$env" == 'prod' ] && env='production'

  echo "Deploying $(reponame) to $env..."
  date
  git push "$env"
}

function instance! {
  local env
  if [ -z "$1" ]; then
    env='test'
  else
    env="$1"
  fi

  [ "$env" == 'prod' ] && env='production'

  echo "Spinning up and connecting to a new $env instance of $(reponame)..."
  if [ "$env" == 'production' ]; then
    ssh -Attt git@orchard.apple.com pty-request ioswt/$(reponame)
  else
    ssh -Attt git@orchard.apple.com pty-request ioswt/$(reponame)-${env}
  fi
}

function scale! {
  local env=$1 type=$2 count=$3 appid
  [ "$env" == 'prod' ] && env='production'

  if [ "$env" == 'production' ]; then
    appid="$ORCHARD_PROD_APP_ID"
  else
    appid="$ORCHARD_TEST_APP_ID"
  fi

  [ -z "$appid" ] && echo "Couldn't determine app id. Set ORCHARD_PROD_APP_ID and ORCHARD_TEST_APP_ID in your environment." && exit 1

  if [[ -z "$env" || -z "$type" || -z "$count" ]]; then
    echo "Usage: $FUNCNAME <env> <instance_type> <count>"
    return 1
  fi

  echo "Scaling $env $(reponame) $type to $count instance(s)..."

  local az=$(orchard_app_availability_zones $appid | jq '.[0].id')
  local instanceid=$(orchard_find_instance $appid "$az" "$type" | jq .id)

  url="https://orchard.apple.com/api/v1/applications/${appid}/application_availability_zones/${az}/instance_types/${instanceid}"
  orchardreq -X PUT -d "{\"instances\": $count}" -H "Content-Type: application/json" "$url"
}


function applehostinfo {
  local q="$1"
  curl http://hostsweb.corp.apple.com/hosts 2>/dev/null | grep -i "$q"
}

function timecardify {
  cat ${1:--} | cut -d ',' -f 2-3 | tail +2 | tr "\n" ',' | tr -d '"' | sed 's/,$//'
}

function generate-apple-csr {
  local hostname="$1"
  if [[ -z "$hostname" ]]; then
    echo "Usage: ${FUNCNAME[0]} <hostname>"
    return 1
  fi

  [[ "$hostname" =~ \. ]] || hostname="${hostname}.apple.com"
  local keypath="${hostname}.key.pem"

  if [[ -f "$keypath" ]]; then
    echo "Using existing key ${keypath}"
    openssl req -key "$keypath" -subj "/CN=${hostname}"
  else
    openssl req -newkey rsa:2048 -nodes -sha256 -keyout "$keypath" -subj "/CN=${hostname}"
  fi
}
