# Compiled Python files
*.pyc

.virtualenv
.config/direnv

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

.vim

# ctags
/tags
quickfix*.out

.yardoc

backend/functions/.envrc
backend/functions/firebase-admin-key.json
.node-version

firebase-admin-key.json
.envrc
.local

**/.claude/settings.local.json
